PORT=8000
MONGODB_URI=mongodb+srv://Shashank:shashank123@cluster0.7icyxjl.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=SHASHANK-BACKEND
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=SINGH-BACKEND
REFRESH_TOKEN_EXPIRY=10d